@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Team>
@{
    ViewData["Title"] = "Index";

}

<a asp-action="Create" asp-controller="Team" class="btn btn-primary">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Posission</th>
            <th scope="col">FeedBack</th>
            <th scope="col">SocialIcon</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.FullName</td>
                <td>@item.Posission</td>
                <td>@item.FeedBack</td>
                <td>@item.SocialIcon</td>
                <td><img height="100px" width="100px" src="~/assets/imgs/team/@item.Image" alt="Alternate Text" /></td>
                <td><a class="btn btn-warning" asp-route-id="@item.Id" asp-action="Edit" asp-controller="Team">Edit</a></td>
                <td><a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Edit" asp-controller="Team">Delete</a></td>

            </tr>

        }

    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new {page }))

